{%extends "base_staff.html"%}{%block tittle%}Guardar Categoría{%endblock%}
{%block upperpartlista%}{%endblock%}
{%block content%}
{% load static %}
<div class="row my-5">
    <h1 class="text-center"><label>Guardar Categoría</label></h1>
</div>
<form id="usuarioForm" action="{% url 'guardarCategoria' %}" method="post">
    {% csrf_token %}
    <div class="row my-4">
        <div class="col-12 col-md-2 offset-md-3">Nombre</div>
        <div class="col-12 col-md-5">
            <input type="hidden" name="txtId" class="form-control"  value="0{{ item.id}}">
            <input type="text" name="txtNombre" class="form-control" value="{{item.nombre}}" id="inputNombre">
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 col-md-2 offset-md-3">Activo</div>
        <div class="col-12 col-md-5">
            <input type="checkbox" name="chkActivo" class="form-check" {{ item.activo|yesno:"checked,"}}>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12 col-md-2 offset-md-3">Opciones</div>
        <div class="col-12 col-md-5">
            <input type="submit" name="btnGuardar" class="btn btn-danger" value="Guardar">
            <input type="submit" name="btnLimpiar" class="btn btn-outline-secondary" value="Limpiar">
            <a href="{% url 'listarCategoria' %}"  class="btn btn-success">Listar</a>
        </div>
    </div>
</form>
<script src="{% static 'js/validacion_multi.js' %}"></script>
{%endblock%}